.heading-primary {
  font-size: 3rem;
  text-align: center;
  color: $color-grey-dark-1;
  font-weight: lighter;
  // background-color: red;
}
.heading-secondary {
  font-size: 2rem;
  text-align: center;
  color: $color-grey-dark-1;
  font-weight: lighter;
  // background-color: red;
}