.right {
  float: right;
}

// Margin
.margin-t-lg {
  margin-top: 5rem;
}

.margin-t-md {
  margin-top: 3rem;
}

.margin-t-sm {
  margin-top: 1rem;
}

.margin-b-lg {
  margin-bottom: 5rem;
}

.margin-b-md {
  margin-bottom: 3rem;
}

.margin-b-sm {
  margin-bottom: 1rem;
}

.margin-l-auto {
  margin-left: auto;
}